.cell-plugin-number {
    font-size: 14px;
    font-family: monospace;
    color: rgb(128, 179, 131);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
}